$pri-color : #444;
$sec-color: #eeeeee;
$tri-color: #aaaaaa;
body {
      background: $sec-color;
      color: $pri-color;
      margin: 20px;
}

nav, footer {
      background: $pri-color;
      padding: 10px;
      height: 30px;
      color: $sec-color;
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      justify-content: space-between;
      -webkit-flex-direction: row;
      -webkit-justify-content: space-between;
      align-items: center;
      -webkit-align-items: center;
      a {
            color: $sec-color;
      }

      img {
            position: relative;
            top: -2px;
            height: 30px;
            vertical-align:middle;
            padding-left:10px;
      }

      .left {
      }
      .right {
            vertical-align: middle;
      }
}

.file-item {
      margin: 20px;
      width: 200px;
      height: 300px;
      border: solid $pri-color;
      flex: 0 0 auto;
      -webkit-flex: 0 0 auto;
      overflow: hidden;
      text-align: center;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      justify-content: space-around;
      -webkit-justify-content: space-around;

      .title {
            font-size: 16pt;
            padding: 10px;
      }

      img {
            max-height: 150px;
      }

      .time {
            color: $tri-color;
      }

      .desc {
      }
}

.show {
      width: 80%;
      margin: auto;
      display: flex;
      display: -webkit-flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      -webkit-flex-wrap: wrap;
      -webkit-flex-direction: row;
      -webkit-justify-content: space-around;

}

// Form

form {
      width: 500px;
      margin: auto;
      text-align: center;
}

input:disabled {
      background: $tri-color;
}

td {
      padding: 5px;
      border-bottom: 1px solid $tri-color;

}
td.left {
      text-align: right;
}
td.right {
      text-align:left;
}

