$pri-color : #444;
$sec-color: #eeeeee;
$tri-color: #aaaaaa;

body {
      background: $sec-color;
      color: $pri-color;
      margin: 20px;
      @media only screen and (max-width: 768px) {
            margin: 0px;
      }
}

nav, footer {
      background: $pri-color;
      padding: 10px;
      height: 30px;
      color: $sec-color;
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      justify-content: space-between;
      -webkit-flex-direction: row;
      -webkit-justify-content: space-between;
      align-items: center;
      -webkit-align-items: center;

      a {
            color: $sec-color;
      }

      img {
            position: relative;
            top: -2px;
            height: 30px;
            vertical-align:middle;
            padding-left:10px;
      }

      .left {
      }

      .right {
            vertical-align: middle;
      }
}

.show {
      width: 80%;
      margin: auto;
      display: flex;
      display: -webkit-flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      -webkit-flex-wrap: wrap;
      -webkit-flex-direction: row;
      -webkit-justify-content: space-around;

      .file-item {
            box-shadow: 2px 2px 10px $pri-color;
            margin: 20px;
            width: 220px;
            height: 330px;
            border: 1px solid $pri-color;
            border-radius: 4px;
            flex: 0 0 auto;
            -webkit-flex: 0 0 auto;
            overflow: hidden;
            text-align: center;
            display: flex;
            display: -webkit-flex;
            flex-direction: column;
            -webkit-flex-direction: column;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            padding-bottom: 10px;
            padding-top: 10px;

            .title {
                  font-size: 16pt;
                  text-decoration: none;
                  color: #494;
                  font-weight: bold;
                  word-wrap: break-word;
                  padding: 5px;
            }
            div.title {
                  border-bottom: 2px dotted;
            }

            img {
                  max-height: 150px;
                  margin:0px;
            }

            .time {
                  color: $tri-color;
            }

            .desc {
                  max-height: 2em;
                  overflow:hidden;
                  margin: 5px;
            }


            a, a:visited {
                  color: #00f;
            }

      }

      /*
      .file-item.with-desc:hover, .file-item.with-desc:focus {
            .title {
                  display:none;
            }

            .desc {
                  max-height: 6em;
            }
      }
      */
}



// Form

form {
      width: 500px;
      max-width:100%;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;

      textarea, input {
            width: 200px;
      }

      textarea:disabled, input:disabled {
            background: $tri-color;
      }
}


table {
      width: 350px;
      margin:auto;

      td {
            padding: 5px;
            border-bottom: 1px solid $tri-color;

      }

      td.left {
            text-align: right;
            @media only screen and (max-width: 768px) {
                  max-width: 20%;
                  overflow:hidden;
                  text-align:left;
            }
      }

      td.right {
            text-align:left;
      }
}

// Preview
.preview {
      max-width: 75%;
      margin: auto;
      margin-top: 20px;
      padding: 20px;
      img {
            max-width: 100%;
      }
}
