
doctype html
html
      head
            title Salaatti
            style
                  include ./../../static/css/main.css
            script
                  include ./../../static/js/main.js
            meta(charset="utf-8")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")

            link(rel="icon", href="/upload.png")
      body
            nav
                  div.left
                        a(href="/")
                              img(src="logo.png")
                  | 
                  div.right
                        a(href="/upload")
                              | Upload
                              img(src="upload.png")


