
doctype html
html
      head
            title Salaatti
            link(rel="stylesheet", href="css/main.css")
      body
            nav
                  a(href="/") USVSalaatti
                  a(href="/upload") upload

