
doctype html
html
      head
            title Salaatti
            link(rel="stylesheet", href="css/main.css")
            script(src="js/main.js")
      body
            nav
                  span.left
                        a(href="/")
                              img(src="logo.png")
                  | 
                  span.right
                        a(href="/upload")
                              | Upload 
                              img(src="upload.png")


