extends ./layout.jade

block content

      form(method="post" action="/" enctype="multipart/form-data")
            table
                  tr
                        td.left File
                        td.right
                              input(type="file", name="file", id="file", onchange="updateForm();")

                  //
                        tr 
                              td.left 
                                    label(for="visible") Visible
                              td.right
                              input(type="checkbox", id="visible", name="visible", checked="true" onchange="updateVisible();")

                  tr
                        td.left Title
                        td.right
                              input(type="text", id="name", name="name", maxlength="20")

                  tr
                        td.left Description
                        td.right
                              textarea(type="textarea", id="comment", name="comment", maxlength="400")

                  tr
                        td.left Sender
                        td.right
                              input(type="text", id="sender", name="sender", maxlength="20", onchange="updateName();")

                  //
                        tr
                        td.left Moderation key
                        td.right
                              input(type="password", id="modkey", name="modkey", maxlength="20")

            br
            input(type="submit", name="submit" value="Upload")

            //p Hidden files are accessible by url or shell access. Visible files can have names and descriptions and are shown on the front page.



 
