include ./includes/head.jade

form(method="post" action="/" enctype="multipart/form-data")
      input(type="file", name="file")
      input(type="checkbox", name="visible")
      input(type="submit", name="submit")

include ./includes/foot.jade
